<div class="login-container">
  <div class="login-box">
    <form [formGroup]="fgValidacion">
      <h1>Iniciar sesión</h1>
      <div class="contenedor">
          <div class="logo">
              <img src="../../../../assets/imagenes/Logout.jpg" alt="logo">
          </div>
          <div class="input-contenedor">
              <input formControlName="username" type="text" autocomplete="on" placeholder="Nombre de usuario" >
          </div>
          <div class="input-contenedor">
              <input   formControlName="password" type="password" autocomplete="on" placeholder="Contraseña" >
          </div>
          <button type="button" (click)="identificarusuario()" class="button">Iniciar sesión</button>
      </div>
  </form>
  </div>
</div>

<app-footer></app-footer>
