.principal {
    font-size: 100px;
    color: white;
    font-weight: bold;
    line-height: 0.8;
    word-wrap: break-word;
    text-align: center; /* Opcional: para centrar el texto */
    margin-bottom: 15px;
  }

  .secundario {
    font-size: 20px;
    color: white;
    line-height: 1.5;
    text-align: justify;
  }

  .contenedor-Incio{
    margin-left: 75px;
    margin-right: 115px;
  }