<div class="login-container">
    <app-menu></app-menu>
    <div class="contenedor-Incio">
        <div class="principal">Gestion Eficiente de sus activos </div>
    <br><br><br>
    <div class="secundario">
        Con esta herramienta, los usuarios podrán consultar y gestionar información importante de forma rápida y segura, según su rol dentro de la organización. La idea es facilitar las tareas del día a día, optimizar procesos internos y garantizar que cada usuario acceda solo a la información que le corresponde.
    </div>
    </div>
</div>

    