<div class="login-container">
  <app-menu></app-menu>

  <div class="contenedor-Incio">
    <div class="objetivos-container">
      <h1 class="titulo-objetivo">Objetivo del aplicativo</h1>

      <div class="contenido-principal">
        <div class="lado-izquierdo">
          <p class="descripcion">
            El aplicativo está diseñado para que los usuarios puedan consultar y gestionar información importante de manera rápida y segura, según su rol dentro de la organización.
            Su propósito es facilitar las tareas diarias, optimizar los procesos internos y garantizar que cada usuario acceda únicamente a la información que le corresponde.
          </p>
        </div>

        <div class="lado-derecho">
          <div class="caracteristica">
            <h3>Acceso seguro y personalizado:</h3>
            <p>Cada usuario podrá ingresar con su cuenta y visualizar solo la información relevante para su rol.</p>
          </div>
          <div class="caracteristica">
            <h3>Gestión eficiente de datos:</h3>
            <p>Permite actualizar, consultar y administrar la información en tiempo real.</p>
          </div>
          <div class="caracteristica">
            <h3>Optimización de procesos:</h3>
            <p>Reduce la carga de trabajo manual y mejora la productividad organizacional.</p>
          </div>
          <div class="caracteristica">
            <h3>Interfaz intuitiva:</h3>
            <p>Diseño amigable y fácil de usar para una experiencia óptima.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>