.objetivos-container {
    min-height: 100vh;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
  }
  
  .objetivos-content {
    max-width: 1000px;
    width: 100%;
  }
  
  .descripcion {
    margin: 1rem auto;
    max-width: 800px;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .caracteristicas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.514);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.616);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.03);
    background: rgba(255, 255, 255, 0.2);
  }
  
  .contenedor-Incio{
    margin-left: 75px;
    margin-right: 115px;
    justify-content:right;
  }