<div class="objetivos-container">
    <app-menu></app-menu>
  
    <div class="objetivos-content">
      <h1>Objetivo del sistema</h1>
      <p class="descripcion">
        El aplicativo está diseñado para que los usuarios puedan consultar y gestionar información importante de manera rápida y segura, según su rol dentro de la organización.
        Su propósito es facilitar las tareas diarias, optimizar los procesos internos y garantizar que cada usuario acceda únicamente a la información que le corresponde.
      </p>
  
      <div class="caracteristicas">
        <div class="card">
          <h3>Acceso seguro</h3>
          <p>Visualiza solo lo relevante para tu rol.</p>
        </div>
        <div class="card">
          <h3>Datos eficientes</h3>
          <p>Consulta y gestiona en tiempo real.</p>
        </div>
        <div class="card">
          <h3>Procesos ágiles</h3>
          <p>Optimiza y mejora la productividad.</p>
        </div>
        <div class="card">
          <h3>Interfaz intuitiva</h3>
          <p>Fácil de usar para todos los usuarios.</p>
        </div>
      </div>
    </div>
  </div>
  