<div class="login-container">
  <app-menu></app-menu>

  <div class="container">
    <form>
      <h1>Contáctanos!</h1>
      <div class="input-group">
        <label for="name">Nombre</label>
        <input type="text" name="nombre" id="name" />

        <label for="email">Correo electrónico</label>
        <input type="email" name="email" id="email" />

        <label for="message">¿Cómo te ayudamos?</label>
        <textarea name="message" id="message" rows="4"></textarea>

        <input class="button" type="submit" value="Enviar" />
      </div>
    </form>
  </div>
</div>
 