.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
  }
  
  form {
    background-color: rgba(0, 0, 0, 0.6); /* semitransparente */
    padding: 40px;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: left;
  }
  
  form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  label {
    font-weight: bold;
    font-size: 14px;
  }
  
  input,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: #ffffff;
    color: #000;
  }
  
  input.button {
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  input.button:hover {
    background-color: #16a085;
  }
  