.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/FrontGrupo16-master/src/assets/imagenes/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
form{
    padding: 50px 55px;
    text-align: center;
    border-radius: 20px;
    width: 340px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}