/* Fondo con imagen */
.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('./../../../assets/imagenes/background.jpg') no-repeat center center/cover;
}

.contenido{
  color: white;
}
